


h1{
	color:white;
    text-align:left;
    font-size: 100%;
    font-family:STFangsong;
    font-weight:bolder;
    display:inline;
}

h2{
	color:black;
    text-align:center;
    font-size:100%;
    font-family:STFangsong;
    font-weight:bold;
    display:inline;
    
}


h3{
    color:#ff8c14;
    font-family:STFangsong;
    font-size:120%;
    font-weight:bold;
    display:inline;
    position:relative;
   
}


h4{
    color:#9f9f9f;
    font-family:STFangsong;
    text-align:left;
    margin-left:26px;
    margin-top:0px;
    font-size:5%;
    font-weight:normal;
    position:relative;
}


a:link,a:visited,a:hover,a:active,input,h2{
    color:#6e6e6e;
    font-family:STFangsong;
    font-size:80%;
    font-weight:normal;
    display:inline;
    position:relative;
    
}


body {
    width:100%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    background:#fff3dc;
    
}

.spance1{margin-left:60%;}

.spance2{margin-right:5%; float:right;display:inline;width:50%;height:25px;margin-top:-5px;}

.spance3{margin-left:5%;}




#demo{
    width:80%;
    height:250px;
    background:white;
    border:#909090 1px solid;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    clear:both;
    text-align:left;
    padding-top:8px;
    padding-left:4px;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);/*ie*/ 
	-moz-box-shadow: 7px 6px 8px #b2b2b2;/*firefox*/ 
	-webkit-box-shadow:7px 6px 8px #b2b2b2;/*safari或chrome*/ 
	box-shadow:7px 6px 0px #b2b2b2;/*opera或ie9*/ 
}




#save{
    background:#32c832;
    width:80px;
    height:80%;
    font-size:100%;
    float:right;
    text-align:center;
    color:white;
    font-weight:bold;
}


#button{
	width:80%;
    height:50px; 
    margin-top:20px;
    margin-right:10%;
    font-size:100%;
    text-align:center;
    float:right;
}










