{% extends "front_page/base.html" %}
{% load i18n %}

{% block title %}
<title>{% trans 'Corp_b' %} | {% trans 'FAQ' %}</title>
{% endblock %}

{% block main_content %}
<!-- Start: MAIN CONTENT -->
<div class="content">
  <div class="container">
    <div class="page-header">
      <h1>常见的疑问与解答</h1>
    </div>  
    <div class="row">
      <div class="span10 offset1">
        <div class="accordion" id="faqAccordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <h4>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq1">
                  <i class="icon-question-sign"></i> 这为什么是最常见的问题？
                </a>
              </h4>
            </div>
            <div id="faq1" class="accordion-body collapse in">
              <div class="accordion-inner">
                <p>
                  这就是问题的答案。这就是问题的答案。这就是问题的答案。
                  这就是问题的答案。这就是问题的答案。.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <h4>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq2">
                  <i class="icon-question-sign"></i> 这为什么是最常见的问题？
                </a>
              </h4>
            </div>
            <div id="faq2" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>
                  这就是问题的答案。这就是问题的答案。这就是问题的答案。
                  这就是问题的答案。这就是问题的答案。.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <h4>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq3">
                  <i class="icon-question-sign"></i> 这为什么是最常见的问题？
                </a>
              </h4>
            </div>
            <div id="faq3" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>
                  这就是问题的答案。这就是问题的答案。这就是问题的答案。
                  这就是问题的答案。这就是问题的答案。.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <h4>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq4">
                  <i class="icon-question-sign"></i> 这为什么是最常见的问题？
                </a>
              </h4>
            </div>
            <div id="faq4" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>
                  这就是问题的答案。这就是问题的答案。这就是问题的答案。
                  这就是问题的答案。这就是问题的答案。.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <h4>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq5">
                  <i class="icon-question-sign"></i> 这为什么是最常见的问题？
                </a>
              </h4>
            </div>
            <div id="faq5" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>
                  这就是问题的答案。这就是问题的答案。这就是问题的答案。
                  这就是问题的答案。这就是问题的答案。.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <h4>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq6">
                  <i class="icon-question-sign"></i> 这为什么是最常见的问题？
                </a>
              </h4>
            </div>
            <div id="faq6" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>
                  这就是问题的答案。这就是问题的答案。这就是问题的答案。
                  这就是问题的答案。这就是问题的答案。.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <h4>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq7">
                  <i class="icon-question-sign"></i> 这为什么是最常见的问题？
                </a>
              </h4>
            </div>
            <div id="faq7" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>
                  这就是问题的答案。这就是问题的答案。这就是问题的答案。
                  这就是问题的答案。这就是问题的答案。.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <h4>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq8">
                  <i class="icon-question-sign"></i> 这为什么是最常见的问题？
                </a>
              </h4>
            </div>
            <div id="faq8" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>
                  这就是问题的答案。这就是问题的答案。这就是问题的答案。
                  这就是问题的答案。这就是问题的答案。.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End: MAIN CONTENT -->
{% endblock %}

{% block js_code %}
<script type="text/javascript">
  $(function(){
    $("#nav-faq").addClass("active-link");
  });
</script>
{% endblock %}
