{% extends "front_page/base.html" %}
{% load i18n %}

{% block title %}
<title>{% trans 'Corp_b' %} | {% trans 'User Info' %}</title>
{% endblock %}

{% block main_content %}
<!-- Start: MAIN CONTENT -->
<div class="content">
  <div class="container">
    <div class="page-header">
      <h1>{% trans 'User Info' %}</h1>
    </div>
    <div class="row-fluid">
      <!-- Start: OFFICES -->
      <div class="span5 offset1">
        <h3>{% trans 'Account Info' %}</h3>
        <div>
          <div class="pull-left">
            <div class="bottom-space">
              <i class="icon-user icon-large"></i> {% trans 'Username' %}: {{ user.username }}
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <h3>{% trans 'Person Info' %}</h3>
        <div>
          <div class="pull-left">
            <div class="bottom-space">
              <i class="icon-user icon-large"></i> {% trans 'Real Name' %}: {{ info.real_name }}
            </div>
            <div class="bottom-space">
              <i class="icon-star icon-large"></i> {% trans 'Company Name' %}: {{ info.company_name }}
            </div>
          </div>
          <div class="pull-right">
            <div class="bottom-space">
              <i class="icon-phone icon-large"></i> {% trans 'Phone Number' %}: {{ info.phone_number }}
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div style="height: 280px;">
        </div>
      </div>
      <!-- End: OFFICES -->
    </div>
  </div>
</div>
<!-- End: MAIN CONTENT -->
{% endblock %}

{% block js_code %}
<script type="text/javascript">
  $(function(){
  $("#nav-user").addClass("active-link");
  });
</script>
{% endblock %}
